=> add relevent security to server end points.(backend)
=> send auth token with every request(front end)
=> add extra role for bidder

user view
    => bidder dropdown in projects table gets all users, get only user which have a bidding profile.
    => show add button only if "user" has a bidding profile
    => show only user profiles in profiles dropdown in project detail page 
    => users can only add assignee
    => users can not edit projects only view.


- ADMIN
    - projects (faraz)
        - view
            all
        - create
            on different page not modal
            - fields
                *title (text input)
                *profile (single select dropdown)
                assignee (multislect select dropdown)
                clientName (text input)
                *projectType (single select dropdown)
                *hasRecruiter (check box)
                 recruiterName (text input, if hasRecruiter is checked)
                *status (single select dropdown, default "new", if has assignee default is "open" and new cannot be selected)
                *totalAmount (number)                                                           
                amountDeductable(readOnly,(empShare + recruiter_cut=> 0.10)*totalAmount)
                netRecieveable(readOnly, totalAmount-amountDeductable)
                amountRecieved(number,default value netRecieveable, show if status is "closed")
                empShare(readOnly, value= profile.Share)
                awardedAt (date)
                closedAt (date)
                deadlineAt (date)

        - detail
            edit all fields
    - reports
        - view
            all
    - users
        - view
            all

- USER
    - projects
        - view
            assigned_to_me + created_by_me
    - reports
        - view
            of projects i can view