.layout {
  color: var(--txt-color);
}

.layout__content {
  padding-left: calc(var(--sidebar-width) + 20px);
  background-color: var(--second-bg);
  min-height: 90vh;
}

.layout__content-main {
  padding: 30px;
}
