.mybutton {
  border: none;
  background-color: var(--main-color-blue);
  height: 40px;
  width: 150px;
}

.mybutton:hover {
  transform: scale(1.02) !important;
  transition: transform 0.3s ease 0s !important;
}

.mybutton:disabled {
  background: grey !important;
}

.red {
  background-color: var(--main-color-red) !important;
}

.green {
  background-color: var(--main-color-green) !important;
}
.green:disabled {
  background: #dddddd !important;
}
