.__input {
  text-size-adjust: 20px;
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
}
.__input .input,
textarea {
  height: 50px;
  width: 300px;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  font-size: large;
  padding: 0 20px 0 20px;
  outline: 0;
  border: 0.1px solid grey;
}

.invalid {
  border: 0.1px solid red !important;
}

.input__icon {
  position: absolute;
  margin: 15px 0 0 260px;
  font-size: 20px;
  z-index: 1;
}

.__input > label {
  padding: 10px;
}

.file__input::-webkit-file-upload-button {
  visibility: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file__input {
  background-color: white;
  border-radius: var(--border-radius);
  font-size: large;
  width: 200px;
  border: 1px solid #999;
  padding: 10px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  box-shadow: var(--box-shadow-dark);
  margin-left: 10px;
}

.file__input:hover {
  border-color: black;
  cursor: pointer;
}
.file__input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.file__input__contaier {
  margin: 0px 5% 20px 20px;
}
