.topnav__search {
  position: relative;
  height: 50px;
  width: 400px;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.timezone {
  width: 80%;
}
